/*
Ik heb hier al variabelen aangemaakt voor het pokemon font.
Hieronder een voorbeeld van het gebruik.

h1{
    font-family: var(--pokemon-hollow-font);
    }
*/
:root{
    --pokemon-solid-font :'Pokemon Solid', sans-serif;
    --pokemon-hollow-font :'Pokemon Hollow', sans-serif;
}
html{
    overflow: hidden;
    
}
body{
    height: 100vh;
    display: grid;
    grid-template-areas: 
    "header"
    "main";
    grid-template-rows: 100px auto;
}
header{
    grid-area: "header";
    border-bottom: 2px solid black;
    background-color: palegreen;
}
header #nav-profile{
}
header #nav-pokemon{
}

main{
    grid-area: "main";
}
main #overworldMap{
    position: absolute;
    overflow: hidden;
    z-index: -1;
    
    background-image: url("/images/pokemon\ map.png");
    background-repeat: no-repeat;
}
main #overworldMap #character{
    position: relative;
    left: 450px;
    top: 450px;
    width: 50px; 
    height: 50px; 
    background-color: red; 
    border-radius: 50%; 
}
main #backpackIcon{
    position: absolute;
    width: 75px;
    height: 75px;
    right: 20px;
    bottom: 20px;
    background-image: url("../images/backpack.png");
    background-repeat: no-repeat;
    background-size: 75px;
}
main #debug {
    display: none;
    position: relative;
    top: 10px;
    right: 10px;
    text-align: right;
}