/*
Ik heb hier al variabelen aangemaakt voor het pokemon font.
Hieronder een voorbeeld van het gebruik.

h1{
    font-family: var(--pokemon-hollow-font);
    }
*/
:root {
  /*pokémon font als de letters zwart zijn*/
  --pokemon-solid-font: 'Pokemon Solid', sans-serif;
  /*pokémon font als de letters doorzichtig zijn*/
  --pokemon-hollow-font: 'Pokemon Hollow', sans-serif;
  /*dit is het font dat gebruikt gaat worden voor de titels in de pagina's waar we kunnen kiezen welk
    project we nemen*/
  --display-font: 'HAINER', sans-serif;
  --main-font: 'Nexa', sans-serif;
}

* {
  font-family: var(--main-font);
}

*::-webkit-scrollbar {
  width: 5px;
}

*::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.2);
  border-radius: 50px;
  height: 10px;
}

html {
  overflow: hidden;
}

/*========================================*/
/*========================================*/
/*=============== GamePage ===============*/
/*========================================*/
/*========================================*/
#gamePage {
  height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main";
  grid-template-rows: 100px auto;
}

#gamePage .event_header {
  display: flex;
  text-align: center;
  font-family: sans-serif;
  font-weight: bold;
  font-size: 2rem;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  top: 0px;
  width: 100%;
  padding: 10px;
  color: white;
}

#gamePage .closeBtn {
  font-family: sans-serif;
  font-size: 30px;
  font-weight: bold;
  margin-right: 10px;
  float: right;
}

.closeBtn:hover {
  transition: 0, 3s;

  transform: scale(1.1);
}

/* stijl voor back knop rugzak*/

.backBtn {}

#gamePage .backBtn {
  font-size: 30px;
  font-weight: bold;
  margin-left: 10px;
}

#gamePage .backBtn:hover {
  transition: background-color 0.3s ease, transform 0.2s ease-in-out;
  transform: scale(1.1);
}




/*==============================*/
/*=========== Header ===========*/
/*==============================*/

#gamePage header {
  grid-area: header;
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid black;
  background-color: palegreen;
}

#gamePage header #nav-profile {
  display: flex;
  margin: 10px;
  padding: 10px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: greenyellow;
}

#gamePage header #nav-profile img {
  margin-right: 10px;

  border: 3px solid black;
  border-radius: 50%;
}

#gamePage header #nav-profile h1 {
  font-size: 20px;
  font-weight: bold;
  margin: auto;
}

#gamePage header #nav-pokemon {
  height: 80%;
  margin: 10px;
  padding: 10px;

  border: 3px solid black;
  border-radius: 50px;

  background-color: greenyellow;
}

#gamePage main {
  grid-area: "main";
}

/*==============================*/
/*============ Map =============*/
/*==============================*/

#gamePage main #overworldMap {
  position: absolute;
  overflow: hidden;
  z-index: -1;

  background-image: url("../images/pokemon_map.png");
  background-repeat: no-repeat;
}

#gamePage main #overworldMap #character {
  position: absolute;
  /* left: 450px;
    top: 450px; */
  left: 200px;
  top: 350px;
  width: 50px;
  height: 50px;
  background-color: red;
  border-radius: 50%;
}

#gamePage main #overworldMap #companion {
  position: absolute;
  left: 150px;
  top: 350px;
  width: 50px;
  height: 50px;
  background-size: 100%;
  border-radius: 50%;
}

#gamePage main #overworldMap .npc {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: green;
  border-radius: 50%;
}

#gamePage main #overworldMap .pokemon {
  position: absolute;
  width: 50px;
  height: 50px;
  background-size: 100%;
}

/*==============================*/
/*============ Menu ============*/
/*==============================*/

#gamePage main #backpackIcon {
  position: absolute;
  width: 80px;
  height: 80px;
  right: 20px;
  bottom: 20px;
}

#gamePage main #backpackMenu {
  position: relative;
  display: none;

  width: 70%;
  height: 80%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  border: 4px solid black;
  border-radius: 20px;
  background-color: rgba(30, 30, 30, 0.8);
}

#gamePage #backpackMenu #backpackMenuCloseBtn {
  position: absolute;
  top: 10px;
  right: 2%;
  margin: 15px;
  color: white;
  transition: transform 0.2s ease-in-out;

}

#gamePage #backpackMenu #backpackMenuCloseBtn:hover {
  transform: scale(1.2);

  color: red;

}

#gamePage #backpackMenu h1 {
  font-size: 50px;
  font-weight: bold;
  text-align: center;
  margin: 15px;
  color: white;
}

#gamePage #backpackMenu #backpackMenuItems {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-top: 80px;

}

#gamePage #backpackMenu .backpackMenuBtn {
  position: relative;
  width: 150px;
  height: 150px;
  border: 4px solid black;
  border-radius: 10px;
  background-color: red;
  cursor: pointer;
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out;
}

#gamePage #backpackMenu .backpackMenuBtn img {
  position: absolute;
  width: 60%;
  top: 10px;
  left: 50%;
  transform: translateX(-50%);
}

#gamePage #backpackMenu .backpackMenuBtn p {
  position: absolute;
  line-height: .8;
  width: 100%;
  bottom: 5px;
  text-align: center;
  font-size: 20px;
  color: white;
}

#gamePage #backpackMenu .backpackMenuBtn:hover {
  transform: scale(1.1);
  box-shadow: 0px 5px 15px rgba(255, 0, 0, 0.6);
}

/*==============================*/
/*=========== events ===========*/
/*==============================*/

#gamePage main .menuEvent {
  display: none;
  position: relative;
  width: 90%;
  height: 90%;
  margin: auto;
  top: 50%;
  transform: translateY(-50%);

  color: white;

  border: 2px solid black;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 5px rgb(10, 10, 10);
  background-color: rgba(0, 0, 0, 0.8);

  overflow-y: hidden;
}


/* ========== pokemon list ==========*/
#gamePage .pokemon_list {
  width: auto;
  height: 80%;
  margin: 10px;
  overflow-y: scroll;
}

#gamePage .pokemon_list table {
  margin: auto;
  width: 100%;
}

#gamePage .tableRow {
  display: grid;
  grid-template-areas:
    "image info stats";
  grid-template-columns: max-content auto 80%;

  height: max-content;
  background-color: gray;
  border: 2px solid black;
  border-radius: 50px;
}

#gamePage .tableRow:hover {
  cursor: pointer;
}

#gamePage .tableImg {
  grid-area: image;
  padding: 5px;
  margin: auto;
  width: 80%;
  border-right: 2px solid black;
  border-radius: 50px;
}

#gamePage .tableInfo {
  grid-area: info;
  margin: auto;
  margin-left: 3%;
}

#gamePage .tableStats {
  grid-area: stats;
  margin: auto;
  margin-left: 10%;
}

/* hier staat al het stijl voor de filters */
#pokedex_controls {
  display: grid;
  grid-template-areas:
    "search sort filter";
  grid-template-columns: 200px auto 20%;
  align-items: center;
}

#pokedex_controls #pokedex_search {
  grid-area: search;
  margin: 10px;
  margin-right: 20%;
  padding: 8px 20px;
  max-width: 300px;
  color: black;
  background-color: white;
  border: 2px solid black;
  border-radius: 20px;
}

#pokedex_controls #pokedex_sort_label {
  grid-area: sort;
}

#pokedex_controls #pokedex_sort {
  font-size: 16px;
  color: black;
  padding: 8px 20px;
  width: auto;
  background-color: white;
  border: 2px solid black;
  border-radius: 10px;
}

#pokedex_controls #pokedex_filters {
  grid-area: filter;
  position: relative;
  margin-right: 20%;
  width: max-content;
}

#pokedex_controls #pokedex_filterBtn {
  display: block;
  color: white;
  text-align: center;
  margin-left: auto;
  padding: 8px 20px;
  width: 150px;

  background-color: gray;
  border: 2px solid black;
  border-radius: 5px;
}

#pokedex_controls #pokedex_filters:hover #pokedex_filters_dropdown {
  display: flex;
}

#pokedex_controls #pokedex_filters_dropdown {
  display: none;
  position: absolute;
  flex-direction: column;
  right: 0px;
  padding: 20px;

  background-color: rgba(0, 0, 0, 0.5);
  border: 2px solid black;
  border-radius: 5px;
}

#pokedex_controls #pokedex_filters label {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  font-size: 16px;
  gap: 30px;
  margin: 5px;
  cursor: pointer;
}

#pokedex_controls input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
  cursor: pointer;
  appearance: auto;
  margin-right: 5px;
}

#pokedex_controls select {
  font-size: 16px;
  color: #000000;
  align-items: center;
  padding-left: 10px;
  width: 160px;
  height: 35px;

  background-color: white;
  border-radius: 5px;
  cursor: pointer;
  transition: border 0.3s;
}

/* #pokedex_controls {
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  padding: 15px;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 10px;
  margin-bottom: 20px;
  width: 90%;
  height: 15%;
  margin: 0 auto;

}


#pokedex_search {
  flex-grow: 1;
  max-width: 200px;
  background-color: white;
  color: black;
  height: 35px;
  padding-left: 10px;
  border-radius: 5px;
  margin-left: 20px;
  border: 2px solid transparent;
  transition: border 0.3s;
  outline: none;
}

#pokedex_search:focus,
#pokedex_search:hover {
  border: 2px solid green;
}


#pokedex_filter_caught {
  transform: scale(1.2);

}


#pokedex_controls label {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 16px;
  color: white;
  margin-left: 80px;
  cursor: pointer;
}

#pokedex_controls input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
  cursor: pointer;
  appearance: auto;
  margin-right: 5px;
}

#pokedex_controls label {
  display: flex;
  align-items: center;
  gap: 5px;
  font-size: 16px;
  color: white;
  cursor: pointer;
}


#pokedex_controls input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
  cursor: pointer;
  margin-right: 5px;
}


#pokedex_controls select {
  width: 160px;
  height: 35px;
  background-color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding-left: 10px;
  font-size: 16px;
  transition: border 0.3s;
  color: #000000;
  align-items: center;
}

#pokedex_controls select:focus,
#pokedex_controls select:hover {
  border: 2px solid green;
}


#pokedex_controls .checkbox-container {
  display: flex;
  align-items: center;
  gap: 5px;
  cursor: pointer;
} */


/* ========== pokedex ==========*/
#gamePage #menu_pokedex {
  height: 500px;
}


#gamePage #menu_pokemonDetail {
  height: 500px;
}

#gamePage #pokedex_detail {
  display: grid;
  grid-template-areas:
    "stats image options"
    "evolution evolution evolution";
  grid-template-columns: 30% auto 30%;
  grid-template-rows: 70% 30%;
  gap: 0px;
  padding: 20px;
  height: 85%;
  justify-content: center;
}

#gamePage #pokedex_detail #pokedex_stats {
  grid-area: stats;
  width: 100%;
  align-content: center;
}

#gamePage #pokedex_detail #pokedex_stats p {
  text-align: center;
  max-width: 200px;
  width: 90%;
  margin: auto;
}

#gamePage #pokedex_detail #pokedex_pokemon {
  grid-area: image;
  text-align: center;
  margin: auto;
}

#gamePage #pokedex_detail #pokedex_evolution {
  grid-area: evolution;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#gamePage #pokedex_detail #pokedex_evolution .pokedex_evolutionStep {
  display: none;
}

#gamePage #pokedex_detail #pokedex_evolution .pokedex_evolutionArrow {
  display: none;
}

#gamePage #pokedex_detail #pokedex_options {
  grid-area: options;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 10px;
  width: 100%;
}

#gamePage #pokedex_detail #pokedex_options button {
  text-align: center;
  padding: 10px;
  max-width: 200px;
  width: 90%;
  background-color: gray;
  border: 2px solid black;
  border-radius: 50px;
}



/* ========== compare ==========*/
#gamePage #menu_compare {
  height: 500px;
}

#gamePage #menu_compare #compare_main {
  display: grid;
  grid-template-areas:
    "left right";
  grid-template-columns: 50% 50%;
  grid-template-rows: 100%;
  width: 100%;
  height: 80%
}

#gamePage #menu_compare #compare_main .pokemon_list {
  height: 100%;
}

#gamePage #menu_compare #compare_main #compare_left {
  grid-area: left;
}

#gamePage #menu_compare #compare_main #compare_right {
  grid-area: right;
}

#gamePage #menu_compare #compare_main .compare_sides {
  display: none;
  margin: 10px;
  text-align: center;
}

#gamePage #compare_main .compare_sides>p {
  margin-bottom: 10px;
}

#gamePage .compare_sides .compare_stats {
  padding: 20px;
  border: 2px solid black;
  border-radius: 20px;
}

#gamePage .compare_sides .compare_reselect {
  margin: 10px;
  padding: 10px;
  border: 2px solid black;
  border-radius: 20px;
  background-color: gray;
}

.redText {
  color: #ff0000;
}

.greenText {
  color: #00ff00;
}

/* ========== battle ==========*/
#gamePage #menu_battle {
  display: none;
}

#gamePage #menu_battle .backBtn,
#gamePage #menu_battle .closeBtn {
  visibility: hidden;
}

#gamePage #menu_battle #battle_main {
  display: grid;
  grid-template-areas:
    "battleLeft battleRight"
    "battleText battleText"
    "battleButtons battleButtons";
  grid-template-columns: 50% 50%;
  grid-template-rows: 60% 20% 20%;
  height: 80%;
}

#gamePage #menu_battle .battle_stage {
  position: relative;
  width: 100%;
  height: 100%;
  max-width: 200px;
  margin: auto;
}

#gamePage #menu_battle #battle_left {
  grid-area: battleLeft;
  padding-top: 20%;
}

#gamePage #menu_battle #battle_right {
  grid-area: battleRight;
  padding-bottom: 100px;
}

#gamePage #menu_battle .statusbar {
  margin: 0px 10px 0px 10px;
}

#gamePage #menu_battle .statusbar .hp-bar {
  height: 15px;
  padding-left: 5px;
  background: linear-gradient(to right, #00ff00 100%, #000000 100%);
  border: 2px solid black;
  border-radius: 50px;
}

#gamePage #menu_battle .statusbar p {
  display: inline;
  color: white;
  text-shadow: 0px 0px 2px black;
}

#gamePage .battle_stage img {
  display: block;
  position: relative;
  width: 100%;
  margin: auto;
  padding: 20px;
}

#gamePage #battle_text {
  grid-area: battleText;
  height: 70px;
  width: 80%;
  margin: auto;
  padding: 10px;
  color: black;
  background-color: white;
  border-radius: 10px;
}

#gamePage #battle_text p:last-child {
  display: none;
  color: #00000074;
  text-align: right;
}

#gamePage #battle_buttons {
  grid-area: battleButtons;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin: 20px
}

#gamePage #battle_buttons button {
  text-align: center;
  width: 30%;
  height: 50px;
  background-color: gray;
  border: 3px solid black;
  border-radius: 50px;
}

/* ========== capture ==========*/
#gamePage #menu_capture {}

#gamePage #menu_capture .backBtn {
  visibility: hidden;
}

#gamePage #menu_capture #capture_main {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;
  padding: 20px;
}

#gamePage #menu_capture #capture_main .backBtn {
  display: hidden;
}

#gamePage #menu_capture #capture_main>img {
  max-width: 200px;
  width: 100%;
  margin: auto;
}

#gamePage #capture_main #capture_button {
  background-image: url("../images/pokeball.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  max-width: 100px;
  width: 40%;
  aspect-ratio: 1 /1;
  border: 3px solid black;
  border-radius: 50%;
}

#gamePage #menu_capture #capture_chances {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: center;
  gap: 10px;
  padding: 10px;
  width: 100%;
  max-width: 200px;
  margin: auto;
  margin-top: 10px;
  border: 3px solid black;
  border-radius: 50px;
  overflow: hidden;
}

#gamePage #capture_chances img {
  width: 30%;
}

/* ========== who's that pokemon ==========*/
#gamePage #menu_whosThat {
}

#gamePage #whosThat_main {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: center;
  align-content: center;
}

#gamePage #whosThat_main img {
  display: block;
  margin: auto;
  margin-top: 10%;
  width: 20%;
  min-width: 150px;
  filter: brightness(0%);
}

#gamePage #whosThat_main #whosThat_input {
  display: block;
  text-align: center;
  color: black;
  padding: 5px;
  margin: auto;
  margin-top: 20px;
  width: 40%;
  background-color: white;
  border: 2px solid black;
  border-radius: 50px;
}

#gamePage .debug {
  display: none;
  width: 100px;
}

#gamePage main #debug {
  display: none;
  position: absolute;
  bottom: 20px;
  right: 20px;
  text-align: right;
  background-color: gray;
}

#gamePage button:hover {
  cursor: pointer;
}