/*
Ik heb hier al variabelen aangemaakt voor het pokemon font.
Hieronder een voorbeeld van het gebruik.

h1{
    font-family: var(--pokemon-hollow-font);
    }
*/
:root{
    /*pokémon font als de letters zwart zijn*/
    --pokemon-solid-font :'Pokemon Solid', sans-serif;
    /*pokémon font als de letters doorzichtig zijn*/
    --pokemon-hollow-font :'Pokemon Hollow', sans-serif;
    /*dit is het font dat gebruikt gaat worden voor de titels in de pagina's waar we kunnen kiezen welk
    project we nemen*/
    --display-font: font-family: 'HAINER', sans-serif;

}
html{
    overflow: hidden;

}
/*========================================*/
/*========================================*/
/*=============== GamePage ===============*/
/*========================================*/
/*========================================*/
#gamePage{
    height: 100vh;
    display: grid;
    grid-template-areas:
    "header"
    "main";
    grid-template-rows: 100px auto;
}
#gamePage .closeBtn{
    font-family: sans-serif;
    font-size: 30px;
    font-weight: bold;

    position: absolute;
    top: 20px;
    right: 20px;
}

/*==============================*/
/*=========== Header ===========*/
/*==============================*/

#gamePage header{
    grid-area: header;
    display: flex;
    justify-content: space-between;
    border-bottom: 2px solid black;
    background-color: palegreen;
}
#gamePage header #nav-profile{
    display: flex;
    margin: 10px;
    padding: 10px;

    border: 3px solid black;
    border-radius: 50px;

    background-color: greenyellow;
}
#gamePage header #nav-profile img{
    margin-right: 10px;

    border: 3px solid black;
    border-radius: 50%;
}
#gamePage header #nav-profile h1{
    font-size: 20px;
    font-weight: bold;
    margin: auto;
}
#gamePage header #nav-pokemon{
    height: 80%;
    margin: 10px;
    padding: 10px;

    border: 3px solid black;
    border-radius: 50px;

    background-color: greenyellow;
}

#gamePage main{
    grid-area: "main";
}

/*==============================*/
/*============ Map =============*/
/*==============================*/

#gamePage main #overworldMap{
    position: absolute;
    overflow: hidden;
    z-index: -1;

    background-image: url("../images/pokemon_map.png");
    background-repeat: no-repeat;
}
#gamePage main #overworldMap #character{
    position: absolute;
    left: 450px;
    top: 450px;
    width: 50px;
    height: 50px;
    background-color: red;
    border-radius: 50%;
}
#gamePage main #overworldMap #companion{
    position: absolute;
    left: 410px;
    top: 460px;
    width: 30px;
    height: 30px;
    background-color: purple;
    border-radius: 50%;
}

/*==============================*/
/*============ Menu ============*/
/*==============================*/

#gamePage main #backpackIcon{
    position: absolute;
    width: 75px;
    height: 75px;
    right: 20px;
    bottom: 20px;
}
#gamePage main #backpackMenu{
    position: relative;
    display: none;
    grid-template-areas: 
    "menuTitle"
    "menuContents";
    grid-template-rows: 100px auto;

    width: 70%;
    height: 80%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    border: 4px solid black;
    border-radius: 20px;
    background-color: rgba(30, 30, 30, 0.8);
}
#gamePage #backpackMenu h1{
    grid-area: menuTitle;
    font-size: 50px;
    font-weight: bold;
    text-align: center;
    margin-top: auto;
    margin-bottom: 0px;
}
#gamePage #backpackMenu #backpackMenuItems{
    grid-area: menuContents;
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    margin: 0px 20%;
    justify-content: center;
    align-content: center;
}
#gamePage #backpackMenu .backpackMenuBtn{
    position: relative;
    width: 100px;
    height: 100px;

    border: 4px solid black;
    border-radius: 10px;
    background-color: red;

}
#gamePage #backpackMenu .backpackMenuBtn img{
    position: absolute;
    width: 60%;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
}
#gamePage #backpackMenu .backpackMenuBtn p{
    position: absolute;
    line-height: .8;
    width: 100%;
    bottom: 5px;
    text-align: center;
}
#gamePage main .menuEvent{
    display: none;
    position: relative;
    width: 90%;
    height: 90%;
    margin:auto;
    top: 50%;
    transform: translateY(-50%);

    /* border: 2px solid black; */
    border-radius: 10px;
    box-shadow: 0px 0px 5px 5px rgb(10, 10, 10);
    background-color: rgba(0, 0, 0, 0.8);

}
#gamePage main #debug {
    display: none;
    position: absolute;
    bottom: 20px;
    right: 20px;
    text-align: right;
    background-color: gray;
}
#gamePage button:hover{
    cursor: pointer;
}
#gamePage main #backpackMenu .backpackMenuBtn:hover{
    border: 5px solid rgba(50, 0, 0, 1);

}