/*
Ik heb hier al variabelen aangemaakt voor het pokemon font.
Hieronder een voorbeeld van het gebruik.

h1{
    font-family: var(--pokemon-hollow-font);
}
*/

:root{
    --pokemon-solid-font :'Pokemon Solid', sans-serif;
    --pokemon-hollow-font :'Pokemon Hollow', sans-serif;
}

