<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/pokemon-solid">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/nexa">
    <link rel="stylesheet" href="https://fonts.cdnfonts.com/css/pokemon-hollow">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/stylesGame.css">
    <script src="/js/gameIntro.js" defer></script>
</head>

<body id="gameIntro"></body>
<main>
    <div id="characterSelect" class="intro_selection">
        <h1>Kies je personage</h1>
        <div id="intro_characterOptions" class="intro_selectOptions">
        </div>
        <div id="bigImages">
        </div>
    </div>
    <div id="pokemonSelect" class="intro_selection">
        <h1>Kies je eerste pokemon</h1>
        <div id="intro_pokemonOptions" class="intro_selectOptions">
        </div>
    </div>
    <div id="tutorialOverlay" class="tutorial-overlay" style="display: none">
    <div class="tutorial-box">
        <h2>Welkom bij de game!</h2>
        <ul>
          <li><span class="highlight"><strong>Kies je personage:</strong></span> Selecteer een trainer door erop te klikken.</li>
          <li><span class="highlight"><strong>Kies je eerste Pokémon:</strong></span> Je krijgt drie starters om uit te kiezen.</li>
          <li><span class="highlight"><strong>Companion:</strong></span> Je ziet je gekozen personage samen met je Pokémon, die je overal op de map volgt. Rechtsboven kun je je huidige companion bekijken.</li>
          <li><span class="highlight"><strong>Map:</strong></span> Op de map kom je NPC’s tegen om mee te vechten en wilde Pokémon die je kunt vangen.</li>
          <li><span class="highlight"><strong>Bewegen:</strong></span> Gebruik de pijltjestoetsen of WASD om rond te lopen. Druk op Enter om te vechten tegen NPC’s of om wilde Pokémon te vangen.</li>
          <li><span class="highlight"><strong>Backpack:</strong></span> Klik op de rugzak rechtsonder voor Pokédex, vergelijken, en accountinfo.</li>
          <li><span class="highlight"><strong>Pokédex:</strong></span> Hier zie je je gevangen Pokémon en kan je evoluties ontdekken.</li>
          <li><span class="highlight"><strong>Vergelijken:</strong></span> Vergelijk Pokémon stats en ontdek wie sterker is.</li>
          <li><span class="highlight"><strong>Gevechten:</strong></span> Spreek NPC’s aan om te vechten. Gebruik normale of speciale aanvallen, of loop weg.</li>
          <li><span class="highlight"><strong>Vangen:</strong></span> Je kan wilde Pokémon vangen. Je krijgt 3 kansen per gevecht.</li>
          <li><span class="highlight"><strong>Account:</strong></span> Beheer je gebruikersgegevens, reset voortgang of log uit.</li>
        </ul>
        <button id="closeTutorial">Begrepen!</button>
      </div>
  </div>

</main>
</body>

</html>