<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/css/reset.css">
  <link rel="stylesheet" href="/css/styles.css">
  <script src="/js/projectPage.js" type="module" defer></script>
  <title>Project pagina</title>

<body id="project_start">
  <main>
    <div id="project_title">
      <p>Kies je spel</p>
    </div>
    <div id="project_main">
      <button class="arrowBtn"><img src="/assets/icons/arrow_icon.png"></button>
      <a href="#" id="game_mainBtn"><img src="/assets/logos/mtg_logo.jpeg"></a>
      <button class="arrowBtn"><img src="/assets/icons/arrow_icon.png"></button>
    </div>
    <div id="project_selection">
      <a id="game_mtg" class="game_option active"><img src="/assets/logos/mtg_logo.jpeg"></a>
      <a id="game_lego" class="game_option"><img src="/assets/logos/lego_logo.jpeg"></a>
      <a id="game_lotr" class="game_option"><img src="/assets/logos/lotr_logo.jpeg"></a>
      <a id="game_fortnite" class="game_option"><img src="/assets/logos/fortnite_logo.jpeg"></a>
      <a id="game_fifa" class="game_option"><img src="/assets/logos/fifa_logo.jpeg"></a>
      <a id="game_pokemon" class="game_option"><img src="/assets/logos/pokemon_logo.jpeg"></a>
    </div>
  </main>
</body>

</html>