<%-include ("partials/header.ejs")%>
  <link rel="stylesheet" href="./css/styles.css">
   <script src="./js/projectPage.js" defer></script>
  <title>Project pagina</title>
</head>

<!-- Header met titel -->
<body id="project-pagina">
  <header  id = "headercontainer">
      <h1 id = "projecttitle">Kies welke game je wil spelen</h1>
  </header>

  <!-- main -->
  <main class="choice-game">
    <!-- section voor het grote vierkant met de pijlen -->
    <section id = "upperproject">
      <!-- linkerpijl -->
      <div class="arrow-left arrow">
        <img src="./images/arrow4.jpeg" alt="arrow-left">
      </div>

      <!-- grote rechthoek in het midden en play button -->
      <section class="game bigrectangle">
        <a href= "#">
          <img id = "bigrectanglecontainer" src="./images/pokempon-logo.jpeg" alt="pokemon-logo"></a>
      </section>

      <!-- rechterpijl -->
      <div class="arrow-right arrow">
        <img src="./images/arrow4.jpeg" class="arrow-right arrow" alt="arrow-right">
      </div>
    </section>

    <!-- section voor kleine vierkantjes -->
    <section class="choice-menu">
        <div class="magic" id = "smallrectangle">
          <img src="./images/magic.jpeg" alt="magic" id ="mtgpic">
        </div>

        <div class="lego" id = "smallrectangle">
          <img src="./images/legoMasters.jpeg" alt="lego" id = "legopic">
        </div>

        <div class="lordOfTheRings" id = "smallrectangle">
          <img src="./images/lordOfTheRings.jpeg" alt="lotr" id = "lotrpic">
        </div>

        <div class="fortnite"id = "smallrectangle">
          <img src="./images/fortnite.jpeg" alt="fortnite" id = "fortnitepic">
        </div>

        <div class="fifa" id = "smallrectangle">
          <img src="./images/fifa.jpeg" alt="fifa" id = "fifapic">
        </div>

        <div class="pokemon" id = "smallrectangle">
          <img src="./images/pokempon-logo.jpeg" alt="pokemon" id = "pokepic">
        </div>
    </section>
  </main>
</body>

  <%-include ("partials/footer.ejs")%>
