<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Login</title>
</head>

<body id="loginPage" class="accountPages">
    <main>
        <section class="blackbox">
                <h1>Pokémon</h1>
                <form action="./login" method="post">
                    <% if(!(formError.emptyField===undefined)) { %>
                        <p class="errorMsg">vul alle velden in</p>
                    <% } %>
                    <label for="username">
                    <% if(!(formError.wrongUser===undefined)) { %>
                        <span  class="errorMsg">Deze gebruiker is niet gevonden</span>
                    <% } %>
                    <input id="username" name="username" type="username" value="<%= formError.username %>" placeholder="Gebruiksnaam"></label>
                    <label for="password">
                    <% if(!(formError.wrongPassword===undefined)) { %>
                    <span class="errorMsg">Dit is niet het juiste Wachtwoord</span>
                    <% } %>
                    <input id="password" name="password" type="password" placeholder="Wachtwoord"></label>
                    <button>inloggen</button>
                </form>
                <div>
                    <a href="./signup">Meld je hier aan!</a></br>
                    <a href="./reset">Wachtwoord vergeten?</a>
                    </br></br>
                </div>
        </section>
    </main>
    <footer>
    </footer>
</body>

</html>