<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>reset</title>
</head>

<body id="reset-password" class="accountPages">
    <main>
        <section class="blackbox">
            <h1>Reset wachtwoord</h1>
            <form action="./reset" method="post">
                <label for="email" >
                    Geef het e-mailadres dat hoort bij je account.
                <input id="email" name="email" type="email" placeholder="E-mail adres"></label>
                <% if(accountError) { %>
                    <p  class="errorMsg"><%= accountError %></p>
                <% } %>
                <button type="submit">Verzenden</button>
            </form>
            <div>
                <a href="./login">Terug naar login</a>
                <br><br>
            </div>
        </section>
    </main>

    <footer>

    </footer>


</body>

</html>