<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/reset.css">
    <link rel="stylesheet" href="/css/styles.css">
    <title>reset</title>
</head>

<body id="signup-page" class="accountPages">
    <main>
        <section class="blackbox">
            <h1>Meld je aan</h1>
            <form action="./signup" method="post">
                <label for="email">Voer een e-mailadres in:
                <input id="email" name="email" type="email"></label>
                <label for="username">
                    Kies en gebruikersnaam:
                <input id="username" name="username" type="text"></label>
                <label for="password">Kies een wachtwoord:
                <input id="password" name="password" type="password"></label>
                <% if(accountError) { %>
                    <p  class="errorMsg"><%= accountError %></p>
                <% } %>
                <button type="submit">Verzenden</button>
            </form>
            <div>
            <a href="./login">Terug naar login</a>
            </br></br>
            </div>
        </section>
    </main>

    <footer>
    </footer>
</body>

</html>