@import url('https://fonts.cdnfonts.com/css/pokemon-solid');
@import url('https://fonts.cdnfonts.com/css/pixelify-sans');
/* @font-face {
    font-family: 'Pokemon Solid';
    font-style: normal;
    font-weight: 400;
    src: local('Pokemon Solid'), url('https://fonts.cdnfonts.com/s/17890/Pokemon Solid.woff') format('woff');
}
@font-face {
    font-family: 'Bowzer';
    font-style: normal;
    font-weight: 400;
    src: local('Bowzer'), url('https://fonts.cdnfonts.com/s/105728/Bowzer.woff') format('woff');
}
@font-face {
    font-family: 'Pokemon Hollow';
    font-style: normal;
    font-weight: 400;
    src: local('Pokemon Hollow'), url('https://fonts.cdnfonts.com/s/17911/Pokemon Hollow.woff') format('woff');
}
@font-face {
    font-family: 'Pokemon Solid';
    font-style: normal;
    font-weight: 400;
    src: local('Pokemon Solid'), url('https://fonts.cdnfonts.com/s/17911/Pokemon Solid.woff') format('woff');
}
@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 300;
    src: local('Nexa'), url('https://fonts.cdnfonts.com/s/19227/Fontfabric - Nexa-Light.woff') format('woff');
}
@font-face {
    font-family: 'Nexa';
    font-style: normal;
    font-weight: 700;
    src: local('Nexa'), url('https://fonts.cdnfonts.com/s/19227/Fontfabric - Nexa-Bold.woff') format('woff');
} */



:root {
    /*pokémon font*/
    --pokemon-solid-font: 'Pokemon Solid', sans-serif;
    /*standaard font*/
    --main-font: 'Nexa', sans-serif;
    /*font voor titels op projectpagina*/
    --project-title-font-new: 'Pixelify Sans', sans-serif;
}

/*========================================*/
/*========================================*/
/*============== ProjectPage =============*/
/*========================================*/
/*========================================*/

* {
    font-family: var(--main-font);
}

*::-webkit-scrollbar {
    width: 5px;
}

*::-webkit-scrollbar-thumb {
    background: white;
    border-radius: 50px;
    height: 10px;
}

#project_start {
    width: 100vw;
    height: 100vh;
}

#project_start main {
    display: grid;
    grid-template-areas:
        "title"
        "main"
        "selection";
    grid-template-rows: 20% auto max-content;
    grid-template-columns: 100%;
    /* background-image: url("../assets/backgrounds/mtg_background.jpeg"); */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    text-align: center;
    width: 100%;
    height: 100%;
}

#project_start #project_title {
    grid-area: title;
    font-family: var(--project-title-font-new);
    align-content: center;
    color: rgb(255, 250, 250);
    font-size: 40px;
}

#project_start #project_title p {
    display: inline;
    font-size: 70px;
    font-weight: bold;
    margin: auto;
    padding: 20px;
    font-family: var(--project-title-font-new);
    background-color: #0000004a;
    border-radius: 20px;
}

#project_start #project_main {
    grid-area: main;
    display: flex;
    gap: 30px;
    padding: 10px;
    justify-content: center;
    align-content: center;
}

#project_start #project_main .arrowBtn {
    max-width: 100px;
    width: 10%;
    opacity: 70%;
    transition: transform 0.2s ease-in-out;
}

#project_start #project_main .arrowBtn:hover {
    cursor: pointer;
    transform: scale(1.1);
}

#project_start #project_main .arrowBtn:first-of-type {
    transform: scale(-1);
}

#project_start #project_main .arrowBtn:first-of-type:hover {
    transform: scale(-1.1);
}

#project_start #game_mainBtn {
    width: 70%;
    max-width: 600px;
    height: 100%;
    border: 5px solid black;
    border-radius: 30px;
    align-content: center;
}

.projectBtnMtg{
 background-image: url("../assets/backgrounds/mtg_background.jpeg");
}

.projectBtnLego{
background-image: url("../assets/backgrounds/lego_background.jpeg");
}

.projectBtnLotr{
background-image: url("../assets/backgrounds/lotr_background.jpeg");
}

.projectBtnfortnite{
    background-image: url("../assets/backgrounds/fortnite_background.jpeg");
}

.projectBtnFifa{
    background-image: url("../assets/backgrounds/fifa_background.jpg");
}

.projectBtnPokemon{
    background-image: url("../assets/backgrounds/pokemon_background.jpeg");
}

.backgroundColor{
background-color: rgba(100, 100, 100, 0.8);
}

#project_start #game_mainBtn img {
    position: relative;
    display: block;
    width: 80%;
    height: auto;
    margin: auto;
}

#project_start #project_selection {
    grid-area: selection;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3%;
    margin: 20px;
}

#project_start .game_option {
    display: block;
    align-content: center;
    width: 200px;
    height: 140px;
    padding: 10px;

    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    background-color: rgba(0, 0, 0, 0.5);
    ;
    border: 3px solid black;
    border-radius: 30px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;

}

#project_start .game_option:hover:not(.active) {
    cursor: pointer;
    transform: translateY(-10px) scale(1.1);
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
}


#project_start .active {
    border: 4px solid black;
    /* transform: translateY(-15px) scale(1.15); */
}

@media (max-width: 480px) {}



/*========================================*/
/*========================================*/
/*============== account ==============*/
/*========================================*/
/*========================================*/

.accountPages {
    height: 100vh;
    width: 100vw;

    background-image: url("../assets/backgrounds/pokemon_background.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.accountPages main {
    width: 100%;
    height: 100%;
}

.accountPages .blackbox {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    top: 50%;
    transform: translateY(-50%);
    height: 80%;
    width: 50%;
    min-width: 480px;
    margin: auto;
    padding: 10px;

    text-align: center;

    border-radius: 5%;
    background-color: rgb(0, 0, 0, 0.5);
}

.blackbox h1 {
    font-family: var(--pokemon-solid-font);
    font-size: 50px;
    text-align: center;
    line-height: 1.5;
}

#loginPage h1 {
    font-size: 70px;
}

.accountPages .blackbox form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
}

.accountPages .blackbox label {
    width: 90%;

    font-family: var(--main-font);
    font-size: 20px;
    text-align: center;
    color: white;
    display: block;
    margin-top: 10px;
}

.accountPages .blackbox form input {
    width: 100%;
    height: 50px;
    background: white;
    padding: 0.5rem 1rem;

    color: black;
    text-align: center;
    font-size: 20px;
    font-family: var(--main-font);
    border-radius: 1rem;
}
.accountPages .blackbox form input::placeholder {
    color: lightslategray;
}

.accountPages .blackbox form button {
    color: black;
    width: 250px;
    height: 50px;

    font-family: var(--main-font);
    font-size: 20px;

    border-radius: 1rem;
    background-color: rgb(255, 217, 0);
}

.accountPages .blackbox a {
    font-family: var(--main-font);
    color: rgba(0, 0, 0, 0.747);
    font-size: 20px;

    cursor: pointer;
}

.accountPages .blackbox form input:hover {
    background-color: #f0f0f0;
    transition: 0.3s;
    border: 3px solid rgb(255, 217, 0);
}

.accountPages .blackbox form input:focus {
    background-color: #f0f0f0;
    border: 3px solid rgb(255, 217, 0);
}

.accountPages .blackbox form button:hover {
    background-color: rgb(255, 200, 0);
    cursor: pointer;
    transition: 0.3s;
    transform: scale(1.1);
}

.accountPages .blackbox a:hover {
    color: red;
    text-decoration: underline;
    transition: 0.3s;
}

.errorMsg {
    color: red;
    font-size: 20px;
    text-shadow: 0px 0px 3px black;
}

@media (max-width: 480px) {
    .accountPages .blackbox {
        justify-content: center;

        width: 100%;
        height: 100%;
        min-width: 0px;
        border-radius: 0px;
    }

    .blackbox h1 {
        font-size: 35px;
    }

    .accountPages .blackbox form button {
        width: 80%;
        max-width: 250px;
    }
}
