:root {
    /*pokémon font als de letters zwart zijn*/
    --pokemon-solid-font: 'Pokemon Solid', sans-serif;
    /*pokémon font als de letters doorzichtig zijn*/
    --pokemon-hollow-font :'Pokemon Hollow', sans-serif;
    /*standaard font*/
    --main-font: 'Nexa', sans-serif;
    /*font voor titels in kiesproject*/
    --project-choice: 'Popular', sans-serif;
}

*{
    font-family: var(--main-font);
}


/*
---------------------------
---------------------------
-------Projectpagina-------
---------------------------
---------------------------
*/

/*Hier zet ik de titel van de projectpagina*/
.choiceheader{
    text-align: Center;
    font-family:var(--project-choice);
    font-size: 80px;
    margin-top: 50px;
}

/*Hier zet ik de vaste gegevens van de projectpagina*/

/*De grote rechthoek in het midden*/
.rectangle{
    border-color: black;
    width: 700px;
    height: 300px;
    border-style: solid;
    margin: auto;
    margin-top: 4%;
    border-width: 8px;
    border-radius: 10px;
    grid-area: rectangle;
    padding-right: 0;
}

/*de linkse driehoek*/
.triangleleft{
    width: 0;
	height: 0;
    border-top: 50px solid transparent;
    border-right: 100px solid #000000;
	border-bottom: 50px solid transparent;
    grid-area: trianglel;
    margin-left: 68%;
    margin-top: 45%;
}

.triangleleft:hover{
    border-top: 52px solid transparent;
        border-right: 104px solid #000000;
        border-bottom: 52px solid transparent;
        margin-top: 44%;
}

.triangleright{
    width: 0;
	height: 0;
    border-top: 50px solid transparent;
    border-left: 100px solid #000000;
	border-bottom: 50px solid transparent;
    grid-area: triangler;
    margin-right: 100%;
    margin-top: 45%;
}

.triangleright:hover{
    border-top: 52px solid transparent;
        border-left: 104px solid #000000;
        border-bottom: 52px solid transparent;
        margin-top: 44%;
}


/*De kleine rechthoeken onderaan*/
.smallrectangle{
    height: 125px;
    width: 250px;
    border-width: 5px;
    border-style: solid;
    border-radius: 10px;
    margin-left: 5px;
}

#firstsmallrectangle{
    grid-area: rectangle1;
}

#secondsmallrectangle{
    grid-area: rectangle2;
}

#thirdsmallrectangle{
    grid-area: rectangle3;
    background-color: black;
}

.lotr{
    margin: auto;
    margin-top: 18px;
}

#fourthsmallrectangle{
    grid-area: rectangle4;
}

#fifthsmallrectangle{
    grid-area: rectangle5;
    background-color: white;
}

.fifa{
    margin-left: 10px;
}

#sixthsmallrectangle{
    grid-area: rectangle6;
}

/*indeling van de project page in een grid*/

.choiceupper{
    grid-area: choiceupper;
    display: grid;
    grid-template-areas:
    "trianglel rectangle triangler";
}

.choicelower{
    grid-area: choicelower;
    display: grid;
    grid-template-areas: 
    "rectangle1 rectangle2 rectangle3 rectangle4 rectangle5 rectangle6";
    margin: auto;
    margin-top: 40px;
}

.projectmain{
    display: grid;
    grid-template-areas: 
    "choiceupper"
    "choicelower";
}