*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Pokemon Solid', sans-serif; 
}
#LoginPagina{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: brown;
    background-image: url(./pokeball-2560-x-1440-background-vqdyaksc7n3shdnc.jpg);
    background-size: cover;
}


#LoginPagina h1{ 
    font-size: 70px;
    text-align: center;
}

#LoginPagina input{
    width: 500px;
    height: 50px;
    background: white;
    margin: 30px 0;
    font-size: 20px;
    outline: none;
    border: none;
    border-radius: 1rem;
    padding: 0.5rem 1rem;
    margin: 1rem;   
    text-align: center; 
}

#LoginPagina .Gebruiksnaam{
    justify-content: center;
    text-align: center;
    padding-bottom: 3rem;
}

#LoginPagina button{
    border: none;
    outline: none;
    border-radius: 1rem;
    width: 250px;
    height: 25px;
    background-color: rgb(255, 217, 0);
    padding-bottom: 3rem;   
}

#LoginPagina .a a{
    text-decoration: none;
    cursor: pointer;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: rgba(0, 0, 0, 0.747);
    padding-top: 5rem;
    font-size: large;
}

@media screen {
    
}